body{
	background-color: #E2F0F6;
}

nav{
	padding-left: 2%;
}

button{
	border: 2px solid #DAE0FA !important;
	background-color: #BFCEE0 !important;
}

input[type="checkbox"]{
  	accent-color: #BFCEE0;
}

.navbar-header{
	color: #BFCEE0;
	padding-right: 2%;
}

.container-fluid{
	padding: 0px;
}

.row{
	padding: 1%;
}

#mainSidebar, #frameSidebar, #poincareSidebar, #mainOptPanel{
	border: 2px solid #C1DCDE;
	padding: 40px;
	background-color: white;
}

#mainOptPanel{
	margin-left: 15%;
}

#mainFrameRow{
	margin-left: 5%;
}

#mainPoinRow{
	padding-top: 0px !important;
}

 #mainPoinPanel{
 	padding-left: 7.5%;
 }

.shiny-notification {
             position:fixed;
             top: calc(7.5%);
             left: calc(40%);
}